# IDE en Editor configuraties
.idea/
.vscode/

# Omgevingsvariabelen en geheime sleutels
.env
.env.local
.env.*.local

# Composer dependencies (de externe pakketten)
/vendor/
/tmp/

# files
src/admin/admin_config.php